<footer class="footer">
    <div class="footer-icon">
        <!-- Aquí va el icono central (reloj o flecha hacia abajo) -->
        <img src="../../assets/clock-eleven.png" alt="Icono central">
    </div>
    <div class="footer-info">
        <p>Lunes a Viernes: 8:00 a.m. - 8:00 p.m.</p>
        <p>Sábados y Domingos: 09:00 a.m. - 10:00 p.m.</p>
        <p>Dias Festivos: Solo Con Citas</p>
    </div>
    <div class="footer-social">
        <!-- Iconos de redes sociales -->
        <a (click)="instagram()"><img src="../../assets/social_10110404.png" alt="Instagram"></a>
        <a (click)="goToWhatsApp()"><img src="../../assets/social_10110445.png" alt="WhatsApp"></a>
        <a (click)="facebook()"><img src="../../assets/facbeook_10110388.png" alt="Facebook"></a>
    </div>
    <div class="footer-copyright">
        <p>©2024 Capitán BarberShop</p>
    </div>
</footer>
