<div class="container">


    

<div class="image-container" data-aos="fade-up" data-aos-duration="3000">
    <div class="image-item" routerLink="/Corte-de-Barba">
        <img src="../../../assets/Citados-(1).jpg" alt="Imagen 1">
        <h5>Arreglo de barba </h5>
    </div>
    <div class="image-item" routerLink="/Corte-de-Cabello">
        <img src="../../../assets/Citados-(3).jpg" alt="Imagen 3">
        <h5>Corte de cabello</h5>
    </div>
    <div class="image-item" routerLink="/Corte-Infantil">
        <img src="../../../assets/Citados-(2).jpg" alt="Imagen 2">
        <h5>Corte infantil</h5>
    </div>
</div>
</div>