<div class="fondo">
    <div class="container">
        <div>
        <h3>Nuestros servicios</h3>
        <h5>En Capitán BarberShop, nos enorgullecemos de ofrecer una experiencia de cuidado y estilo personalizada para cada cliente. Nuestros barberos profesionales están dedicados a brindarte un servicio de alta calidad en un ambiente relajado y acogedor. Nos especializamos en tres servicios principales para satisfacer tus necesidades de imagen:</h5>
        </div>
        <div class="image-container" data-aos="fade-up" data-aos-duration="3000">
            <div class="image-item" routerLink="/Corte-de-Barba">
                <img src="../../../assets/Citados-(1).jpg" alt="Imagen 1">
                <h6>Arreglo de barba </h6>
            </div>
            <div class="image-item" routerLink="/Corte-de-Cabello">
                <img src="../../../assets/Citados-(3).jpg" alt="Imagen 3">
                <h6>Corte de cabello</h6>
            </div>
            <div class="image-item" routerLink="/Corte-Infantil">
                <img src="../../../assets/Citados-(2).jpg" alt="Imagen 2">
                <h6>Corte infantil</h6>
            </div>
        </div>
    </div>
</div>