<div class="container">
   <h1>¿Quiénes somos?</h1>
   <img src="../../../assets/div1.png">
   <p><b>Capitán Barbershop</b> nace en 2024 como una evolución de <b>Barber RS</b>, con una misión clara: redefinir el
      cuidado y estilo masculino. Inspirados por el deseo constante de innovar y destacar, hemos transformado nuestra
      experiencia para ofrecer mucho más que un simple corte.

   </p>
   <p><b>Capitán Barbershop</b>, cada servicio es una experiencia personalizada, diseñada meticulosamente para adaptarse
      a las necesidades únicas de cada cliente. Nos enorgullece brindar asesoría experta y soluciones integrales que van
      más allá de la apariencia, garantizando una imagen impecable y una confianza renovada. Nuestro compromiso
      inquebrantable con la calidad y la excelencia en el servicio nos distingue, asegurando resultados excepcionales y
      la satisfacción plena de quienes confían en nosotros para cuidar su estilo.</p>
   <h2>Misión</h2>
   <p>Nuestra misión es transformar la vida de las personas a través de soluciones creativas e innovadoras que
      satisfagan sus necesidades de cuidado personal. Nos dedicamos a ofrecer un servicio al cliente excepcional,
      reconociendo que la atención de calidad es un pilar fundamental en nuestro propósito. Estamos comprometidos a
      descubrir enfoques únicos y originales para resolver problemas, que verdaderamente impacten y mejoren la vida de
      nuestros clientes.</p>
   <h2>Visión</h2>
   <p>Nuestro propósito es ser una barbería genuinamente y diferente, reconocida por su excelencia en el mercado. Nos
      dedicamos a marcar una diferencia significativa en la vida de nuestros clientes, proporcionando servicios de la
      más alta calidad. Nos esforzamos constantemente por brindar experiencias únicas y personalizadas, priorizando
      siempre el bienestar y la satisfacción de quienes nos eligen. Con un compromiso incansable por superar
      expectativas, ofrecemos soluciones innovadoras que mejoran la calidad de vida de nuestros clientes, reflejando
      nuestra pasión por el cuidado personal y el estilo.</p>

</div>