<div class="image-container">
  <div class="image">
    <img [src]="randomImages[0]?.src" [alt]="randomImages[0]?.name">
    <figcaption>{{ randomImages[0]?.name }}</figcaption>
  </div>
  <div class="image">
    <img [src]="randomImages[1]?.src" [alt]="randomImages[1]?.name">
    <figcaption>{{ randomImages[1]?.name }}</figcaption>
  </div>
  <div class="image">
    <img [src]="randomImages[2]?.src" [alt]="randomImages[2]?.name">
    <figcaption>{{ randomImages[2]?.name }}</figcaption>
  </div>
  <div class="image">
    <img [src]="randomImages[3]?.src" [alt]="randomImages[3]?.name">
    <figcaption>{{ randomImages[3]?.name }}</figcaption>
  </div>
  <div class="image">
    <img [src]="randomImages[4]?.src" [alt]="randomImages[4]?.name">
    <figcaption>{{ randomImages[4]?.name }}</figcaption>
  </div>
  <div class="image">
    <img [src]="randomImages[5]?.src" [alt]="randomImages[5]?.name">
    <figcaption>{{ randomImages[5]?.name }}</figcaption>
  </div>
</div>
